/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #726a95;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.parallax {
  background: url('backyard.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 2%;
  height: 300px;
}

.about {
  display: flex;
  justify-content: space-around;

}

.about > h3 {
  text-align: center;
}

p{
  margin-bottom: 10px;
}

h2{
  text-align: center;
  color: #f4ebc1;
  margin-bottom: 10px;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Header*/
header {
  background-color: #709fb0;
  padding-left: 30px;
}

img {
  width: 189px;
  height: 140px;
  border-radius: 50%
}

h1 {
  border-bottom: 1px solid black;
}

.photo {
  padding-left: 150px
}

.contact {
  color: #ffefa0;
}

/*Lists*/
ul {
  margin-left: 30px;
}

/*Show Table*/
.shows {
  margin-left: auto;
  margin-right: auto;
  background-color: #9ab3f5;
}

tr {
  margin-bottom: 0;
  margin-top: 0;
}

th {
  background-color: #7579e7;
}

.role {
  text-align: center;
  background-color: #a3d8f4;
  padding-left: 5px;
  padding-right: 5px;
}

.location {
  text-align: right;
  padding-left: 10px;
}
